* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: "Lobster";
    src: url(../fonts/Lobster/Lobster-Regular.woff) format("woff");
}

@font-face {
    font-family: "Cairo";
    src: url(../fonts/Cairo/Cairo-Regular.woff);
}

@font-face {
    font-family: "Oswald";
    src: url(../fonts/Oswald/Oswald-Regular.woff);
}

body {
    padding: 0;
    margin: 0;
}

.header {
    background-color: darkred;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: darkred;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 900px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 900px;
    }
}

.container i {
    font-size: 35px;
    color: white;
}