* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.header {
    background-color: #c90c0c;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: #c90c0c;
    height: 65px;
}


@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}



.header i {
    font-size: 35px;
    color: white;
    position: absolute;
    margin-left: 7.5%;
    margin-top: 12px;
}
.header .container .links ul {
    display: inline;
    margin: 20px;
    padding: 50px;
    text-align: end;
}
.header .container .links .nav-bar a{
    text-decoration: none;
    color: #640606;
    font-size: 20px;
    font-weight: 550;
    display: inline-block;
    text-align: right;
    margin-left: 20px;
    border-style: solid;
    border-radius: 8px;
    border-color: #c90c0c;
    border-width: 3px;
    padding: 5px;
    transition-duration: .3s;
}
.header .container .links .nav-bar a:hover {
    border-color: #640606;
    color: #c90c0c;
    background-color: #640606;
}
.header .container .links .nav-bar {
    height: 30px;
    width: 900px;
    text-align: end;
    padding: 3px;
    /* background-color: aliceblue; */
}