* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: "Lobster";
    src: url(../fonts/Lobster/Lobster-Regular.woff) format("woff");
}

@font-face {
    font-family: "Cairo";
    src: url(../fonts/Cairo/Cairo-Regular.woff);
}

@font-face {
    font-family: "Oswald";
    src: url(../fonts/Oswald/Oswald-Regular.woff);
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 900px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 900px;
    }
}

body {
    padding: 0;
    margin: 0;
    background-image: url("../image/bg-pic.png ");
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}

.content {
    display: flex;
    justify-content: center;
}

.splash {
    margin-left: auto;
    margin-right: auto;
    font-family: "Lobster";
    font-size: xx-large;
    color: darkred;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: white;
}